<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        fluent-accordion-item {
            padding: 20px;
            border: 1px solid #EBEBEB;
        }

        fluent-accordion-item:hover {
            border-left: 4px solid #FFB338;
        }

        fluent-button {
            float: right;
        }

        fluent-card {
            width: auto;
            height: auto;
            background-color: #F9F9F9;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            padding: 20px;
        }
    </style>
</head>
<body>

<fluent-design-system-provider use-defaults accent-base-color="#FFB338">
    <div class="grid-container-navbar">
        <div class="brandName">
            <fluent-anchor href="/" appearance="stealth">HOME</fluent-anchor>
        </div>
        <div class="meineRezepte">
            <fluent-anchor href="meineRezepte" appearance="stealth">Meine Rezepte</fluent-anchor>
        </div>
        <div class="rezeptErstellen">
            <fluent-anchor href="erstellen" appearance="accent">Rezept hinzufügen -></fluent-anchor>
        </div>
    </div>
    <h3 class="ueberschrift">MEINE REZEPTE</h3>

    <fluent-accordion id="rezeptListe">
        <% for(var i = 0; i < rezepte.length; i++) { %>
            <fluent-accordion-item>
                <span slot="heading">
                    <h3>
                        <%= rezepte[i].titel %>
                        <fluent-button appearance="accent">
                            <%= rezepte[i].zeit %> min
                        </fluent-button>
                    </h3>
                    <p><%= rezepte[i].kategorie %></p>
                    <p><%= rezepte[i].ernaehrungsform %></p>
                </span>
                <fluent-data-grid>
                    <fluent-data-grid-row>
                        <fluent-data-grid-cell grid-column="1">
                            <p>Zutaten für <%= rezepte[i].personenAnzahl %> Personen:</p>
                            <table style="width: 390px; border-collapse: collapse; border: 1px solid #EDEDED;">
                                <% for(var j = 0; j < rezepte[i].zutaten.length; j++) { %>
                                    <% if(j % 2 === 0){ %>
                                    <tr style="background-color: #e8e8e8; border: 2px solid #EDEDED;">
                                        <% }else{ %>
                                    <tr style="border: 2px solid #EDEDED;">
                                        <% } %>
                                        <td style="padding: 10px 20px; border: 2px solid #EDEDED; width: 70px;"><%= rezepte[i].zutaten[j].menge %> <%= rezepte[i].zutaten[j].einheit %></td>
                                        <td style="padding: 10px 20px; border: 2px solid #EDEDED;"><%= rezepte[i].zutaten[j].zutat %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </fluent-data-grid-cell>
                        <fluent-data-grid-cell grid-column="2">
                            <p>Zubereitung:</p>
                            <fluent-text-area cols="60" style="padding: 5px" value="<%= rezepte[i].zubereitung %>" appearance="filled" readonly>
                            </fluent-text-area>

                        </fluent-data-grid-cell>
                    </fluent-data-grid-row>
                </fluent-data-grid>
            </fluent-accordion-item>
        <% } %>
    </fluent-accordion>
</fluent-design-system-provider>

<style type="text/css">

    #rezeptListe {
        margin: 0px 116px 20px 116px;
    }

</style>

<script src="../dist/bundle.js"></script>

</body>
</html>