<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Rezepte - FAST</title>

    <link rel="stylesheet" href="../src/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <style>
        fast-accordion-item {
            padding: 20px 30px 70px 30px;
            border: 1px solid #EBEBEB;
        }

        fast-accordion-item:hover {
            border-left: 4px solid #FFAC20FF;
        }

        fast-button {
            float: right;
        }

        fast-data-grid {
            padding-top: 50px;
        }

        #rezeptListe {
            margin: 0 116px 20px 116px;
        }
    </style>
</head>
<body>

<fast-design-system-provider accent-color="#FFAC20" base-layer-luminance="1" id="app">
    <div class="grid-container-navbar">
        <div class="brandName">
            <fast-anchor href="/" appearance="lightweight">HOME</fast-anchor>
        </div>
        <div class="meineRezepte">
            <fast-anchor href="meineRezepte" appearance="lightweight">Meine Rezepte</fast-anchor>
        </div>
        <div class="rezeptErstellen">
            <fast-anchor href="erstellen" appearance="accent">Rezept hinzufügen -></fast-anchor>
        </div>
    </div>
    <h3 class="ueberschrift">MEINE REZEPTE</h3>

    <fast-accordion id="rezeptListe">
        <% for(var i = 0; i < rezepte.length; i++) { %>
            <fast-accordion-item>
                <span slot="heading">
                    <h3>
                        <%= rezepte[i].titel %>
                        <fast-button appearance="accent">
                            <%= rezepte[i].zeit %> min
                        </fast-button>
                    </h3>
                    <p><%= rezepte[i].kategorie %></p>
                    <p><%= rezepte[i].ernaehrungsform %></p>
                </span>

                <fast-data-grid>
                    <fast-data-grid-row>
                        <fast-data-grid-cell grid-column="1">
                            <p>Zutaten für <%= rezepte[i].personenAnzahl %> Personen:</p>
                            <table style="width: 390px; border-collapse: collapse; border: 1px solid #EDEDED;">
                                <% for(var j = 0; j < rezepte[i].zutaten.length; j++) { %>
                                    <% if(j % 2 === 0){ %>
                                    <tr style="background-color: #e8e8e8; border: 2px solid #EDEDED;">
                                        <% }else{ %>
                                    <tr style="border: 2px solid #EDEDED;">
                                        <% } %>
                                        <td style="padding: 10px 20px; border: 2px solid #EDEDED; width: 70px;"><%= rezepte[i].zutaten[j].menge %> <%= rezepte[i].zutaten[j].einheit %></td>
                                        <td style="padding: 10px 20px; border: 2px solid #EDEDED;"><%= rezepte[i].zutaten[j].zutat %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </fast-data-grid-cell>
                        <fast-data-grid-cell grid-column="2">
                            <p>Zubereitung:</p>
                            <fast-text-area cols="60" rows="8" style="padding: 5px;" resize="vertical" value="<%= rezepte[i].zubereitung %>" appearance="filled" readonly>
                            </fast-text-area>
                        </fast-data-grid-cell>
                    </fast-data-grid-row>
                </fast-data-grid>
            </fast-accordion-item>
        <% } %>
    </fast-accordion>

</fast-design-system-provider>

<script src="../dist/bundle.js"></script>

</body>
</html>